@import url('https://fonts.googleapis.com/css2?family=Schibsted+Grotesk:ital,wght@0,400..900;1,400..900&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  /* font-family: Poppins; */
  scroll-behavior: smooth;
  font-family: "Schibsted Grotesk", serif;
}

.banner {
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.banner {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(background/background-main.jpeg);
}

.navbar {
  width: 100%;
  margin: auto;
  padding: 3px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.left-side img {
  height: 120px;
  width: 170px;
  margin-left: 50px;
}


.right-side {
  /* margin-top: -50px; */
  margin-right: 20px;
}

.right-side a {
  text-decoration: none;
  margin: 0px 30px;
  color: white;
}
a {
  background-image: linear-gradient(
    to right,
    #54b3d6,
    #54b3d6 50%,
    white
  );
  background-size: 200% 100%;
  background-position: -100%;
  display: inline-block;
  padding: 5px 0;
  position: relative;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.3s ease-in-out;
}

a:before{
  content: '';
  background: #54b3d6;
  display: block;
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 3px;
  transition: all 0.3s ease-in-out;
}

a:hover {
 background-position: 0;
}

a:hover::before{
  width: 100%;
}


.content {
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  color: white;
}

.content p {
  margin: 20px auto;
  font-weight: 100;
  line-height: 25px;
  font-size: 20px;
  width: 45%;
}

.content button {
  font-size: 17px;
  width: 200px;
  padding: 15px 0;
  text-align: center;
  margin: 20px 10px;
  border-radius: 25px;
  font-weight: bold;
  border: 2px solid #eb595f;
  background: transparent;
  color: white;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: background 0.3s ease-in-out, color 0.3s ease-in-out, transform 0.2s ease;
}

.content button:hover {
  background: #eb595f;
  color: white;
  transform: scale(1.05);
}

.btn button {
  font-family: "Schibsted Grotesk", serif;
  font-weight: lighter;
}
/* 2nd Page Css */

#container{
  width: 100%;
  height: 100vh;
  /* background-color: lightblue; */
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  }
.heading{
  text-align: center;
  margin-top: 0px;
  height: 50px;
  padding-top: 50px;
}

.grid-container{
  margin: 50px 150px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 70px;
}
.grid{
  /* border: 2px solid black; */
  height: 50vh;
  border-radius: 5px;
}
.first {
  background-image: url(images/grid-image-1.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
}
.second{
  background-image: url(images/grid-image-2.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 5px;
}

.grid-one-text{
  margin-top: -50px;
}
.grid-two-text{
  margin-top: -50px;
  
}

/* Third page css */

.grid-third-container{
  margin: 80px 150px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 70px;
}
.third-grid{
  background-image: url(images/grid-image-3.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  /* border-radius: 5px; */
}


/* Client says Section  */
.client-says{
  /* border: 2px solid black; */
  display: flex;
  justify-content: center;
  font-size: 45px;
  margin-top: 140px;
}
.client-container{
  margin: 50px 150px;
}
.grid-client{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 130px;
}
.client{
  border: 2px solid black;
  height: 60vh;
}
.image-up{
  height: 30vh;
  /* border: 2px solid black; */
}
.real-text{
  /* display: flex; */
  width: 250px;
}
.text-down{
  display: flex;
  justify-content: center;
}
#client{
  height: 100vh;
  background-image: url(images/back-image.jpeg);
  background-repeat: no-repeat;
  background-size: 1520px;
  background-position: 0px 280px;
  background-attachment: fixed;
  /* margin-top: 10px; */
}

/* footer */
#footer{
  background-color: pink;
  height: 70vh;
}
.footer-container{
  margin: 0px 150px;
}
.footer-head{
display: flex;
justify-content: center;
}

.icons{
  height: 50px;
  width: 30px;
  /* border: 1px solid black; */
  border-radius: 140px;
  padding: 0px 10px;
  margin: 0px 10px;
  transition: transform 0.3s ease-in-out;
  /* background-repeat: no-repeat; */
}
.icons:hover {
  transform: scale(1.2); /* Increase the size by 20% */
}
.wp{
  background-image: url(logos/wp.png);
  background-size: cover;
}
.insta{
  background-image: url(logos/insta.jpg);
  background-size: cover;
}
.youtube{
  background-image: url(logos/youtube.webp);
  background-size: 150%;
  background-position: center;
}
.facebook{
  background-image: url(logos/facebook.png);
  background-size: 100%;
  background-repeat: no-repeat;
}

.name-vastu{
  display: flex;align-items: center;
}
.first-line{
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
}

.temp{
  display: flex;
  align-items: center;
  margin-left: 65px;
}

/* Footer Grids */

.grids-main{
  display: grid ;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  margin: 45px 50px;

}

.grid{
  /* height: 25vh; */
  /* border: 1px solid black; */
}
.lists{
  margin-left: 30px;

  margin-top: 13px;
}
.lists li{
  margin: 7px 0px;
}

.last-line{
  display: flex;
  justify-content: center;
}